
<%- include header %>


<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">你可以說出任何你想說的故事</h1>
    <article>
      <br>
      <p class="lead">無論是你經歷的、聽說的，抑或是想像的</p>
      <p class="lead">匿名、無人批評的故事牆</p>
      <p class="lead">歡迎留下你的足跡</p>
      <a href="/post"> <code>&nbsp&gt 寫下我的故事</code> </a>
    </article>
  </div>
</main>        



<%- include footer %>