  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/logo.png" height="28px" width="28px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" title="主頁" href="/">主頁</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" title="發表故事" href="/post">發表故事</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" title="故事集" href="/story">故事集</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" title="登入/註冊" href="/login">登入/註冊</a>
        </li>
      </ul>
    </div>
  </nav>