
<%- include header %>


<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">故事開始了...</h1>
    <article>
        <form method="post">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">撒旦代表了豁慾，而不是禁慾</label>
                <textarea class="form-control" id="content" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">分享</button>
        </form>
    </article>
  </div>
</main>        



<%- include footer %>