body {
  font-family: 'Noto Sans TC', 'Slabo 27px', sans-serif, serif;
  text-align: left;
  background-color: #eeeeee;
  
}

main > .container {
  padding: 5% 10% 0;
}

.footer {
  background-color: #343a40;
  width: 100%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  color: #cecece;
  text-align: center;
}

code {
  font-size: 98%;
  font-weight: bolder;
}

article > .lead {
  margin-top: -6px;
}

article > a {
    color: #9e001f;
}